#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define SYM  1
#define NUM  2
#define FNC  3

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        mo_tog: mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };

        ec_f: ec_f {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mt LS(LA(LC(LEFT_COMMAND))) F>, <&kp RIGHT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        ec_b: ec_b {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp LEFT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        ec_n: ec_n {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N>, <&kp DOWN>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        ec_n_wrap: ec_n_wrap {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ec_n>, <&kp N>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_RCTL)>;
        };
        ec_p: ec_p {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp UP>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        em_f: em_f {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ec_f>, <&kp LA(RIGHT)>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };
        em_b: em_b {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ec_b>, <&kp LA(LEFT)>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&lt 1 TAB         &kp Q             &kp W               &kp E                    &kp R                           &kp T   &kp Y  &kp U  &kp I      &kp O    &ec_p     &lt 1 BACKSLASH
&mt LCTRL ESCAPE  &kp A             &kp S               &kp D                    &em_f                           &kp G   &kp H  &kp J  &kp K      &kp L    &kp SEMI  &mt RCTRL SINGLE_QUOTE
&mt LSHFT GRAVE   &kp Z             &kp X               &kp C                    &kp V                           &em_b   &ec_n_wrap  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
&mo_tog 2 2       &kp LEFT_COMMAND  &mt LEFT_ALT ENTER  &mt RIGHT_ALT BACKSPACE  &mt RIGHT_COMMAND SPACE         &mo_tog 2 2
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&kp TILDE  &kp EXCL  &kp AT  &kp HASH                  &kp DLLR                   &kp PRCNT  &kp CARET  &kp AMPS          &kp KP_MULTIPLY    &kp LPAR        &kp RPAR  &trans
&trans     &trans    &trans  &trans                    &trans                     &trans     &kp PLUS   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp MINUS       &trans    &trans
&trans     &trans    &trans  &trans                    &trans                     &trans     &kp EQUAL  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp UNDERSCORE  &trans    &trans
&trans     &trans    &trans  &kp LG(LS(LEFT_BRACKET))  &kp LG(LS(RIGHT_BRACKET))  &trans
            >;
        };

        num {
            display-name = "NUM";
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9         &kp NUMBER_0  &trans
&trans  &trans        &trans        &trans        &sl 3         &trans        &kp PLUS      &kp NUMBER_4  &kp NUMBER_5  &mt MINUS NUMBER_6   &trans        &trans
&trans  &trans        &trans        &trans        &trans        &trans        &kp EQUAL     &kp NUMBER_1  &kp NUMBER_2  &mt PERIOD NUMBER_3  &trans        &trans
&trans  &mkp LCLK     &mkp RCLK     &trans        &trans        &kp NUMBER_0
            >;
        };

        fnc {
            display-name = "FNC";
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6            &kp F7             &kp F8           &kp F9   &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp K_MUTE        &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp F11  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp RG(NUMBER_0)  &kp RG(MINUS)      &kp RG(EQUAL)    &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
